.maincontainer{
  background-color: var(--bg-back);
  display: flex;
  justify-content: center;
  align-items: center;
}

.AppGlass{
    width: 97%; 
    border-radius: 2rem;
    background-color: var(--bg-front);
    overflow: hidden;
    margin: 4rem 1rem !important;
}