.Sidebar {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 4rem;
    transition: all 300ms ease;
}

.logo {
    display: flex;
    height: 5rem;  
    font-weight: 5rem;
    font-size: 22px; 
    margin-top: 5rem;
    align-items: center;
    height: 4%;
}

.logo > img {
    margin-top:2rem ;
    width: 5rem;
    height: 5rem;
    padding-left: 1rem;
}

.logo>span>span {
    color: orange;
}

.menu {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.menuItem {
    align-items: center;
    gap: 1rem;
    height: 2.5rem;
    margin-left: 2rem;
    position: relative;
    transition: all 300ms ease;
    font-size: 14px;
    border-radius: 0.7rem;
}

.menuItem:hover {
    cursor: pointer;
    background:pink ;
    margin-left: 0;
}

.hover::before {
    content: '';
    width: 8px;
    height:100%;
    background: palevioletred;
    margin-bottom: calc(1rem -8px);/*half the number of margin left -it's width to make all ofthem in same line */
}