.mainColor{
    background-color: #700a57 !important;
}
  
  .cart {
    font-size: 23px;
  }
  
  .cart span{
    padding:  0 10px;
  }
  
  .cartBadge{
    position: absolute;
    top:-13px;
    right: -18px;
    padding: 0px;
    font-size: 15px;
  }
  
  .action-Btn{
    color: white;
    font-size: 20px;
  }

  .cartBadgeIcon{
    position: relative;
    top:-22px;
    right: 10px;
    padding: 0px 5px !important;
    font-size: 15px;
  }
  
  .cart-Title{
    min-height: 100px;
  
  }
  
  .cartItems ,.price{
    color: #802c6e;
  }
  .price{
    font-size:30px ;
  }
  
  .cartColor{
    color: white;
    margin: 0 0px;
  }
  
  
  
  