.section-title .sub-title {
    color: #72a499;
    font-size: 80px;
    font-weight: 300;
    line-height: 1.3;
    text-align: center;
    font-family: 'Rouge Script',cursive;
}

.section-title .title.title-icon-both::before {
    content: url('../images/title-decor-left.png');
}

.section-title .title.title-icon-both::after {
    content: url('../images/title-decor-right.png');
}

.section-title .title {
    font-size: 48px;
    color: #333;
    line-height: 1.3;
    text-align: center;
    font-family: Marcellus;
    font-weight: 400;
    font-style: normal;
}

.sale-banner1 {
    position: relative;
    width: 100%;
    max-width: 510px;
    margin: auto;
    padding-bottom: 80%;
    background-image: url('../images/sale-banner.png');
    background-repeat: no-repeat;
    background-position: center;
}

.sale-banner1 .inner {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.sale-banner1 .inner .title {
    font-family: Rouge Script,cursive;
    font-size: 80px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 3px;
    color: #333;
}

.sale-banner1 .inner .sale-percent {
    font-size: 34px;
    font-weight: 300;
    line-height: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 200px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

.sale-banner1 .inner .sale-percent .number {
    font-size: 100px;
}

.sale-banner1 .inner .link {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    padding: 2px 0;
    text-transform: uppercase;
    color: #333;
    border-bottom: 1px solid transparent;
}

.sale-banner1 .inner .link:hover {
    color: #ff324d;
    border-color: #333;
}

.sale-banner2 .inner .image {
    position: relative;
    display: block;
    overflow: hidden;
    margin-bottom: 35px;
}

.sale-banner2 .inner .image::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 15px;
    left: 15px;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    border: 1px solid #ffffff;
}

.sale-banner2 .inner .content .sale-percent {
    font-size: 40px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 3px;
}

.sale-banner2 .inner .content .text {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #333;
}

.sale-banner2 .inner .content .btn {
    background-color: #f9f0ee;
    color: #333333;
    font-weight: 400;
    line-height: 24px;
    padding: 15px 40px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 500px;
}

.product-thumb {
    position: relative;
    z-index: 2;
    margin: 0;
}

.product-badges {
    position: absolute;
    top: 15px;
    left: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: -12px;
}

.product-badges span {
    font-weight: 400;
    line-height: 48px;
    z-index: 5;
    width: 48px;
    height: 48px;
    margin-bottom: 12px;
    text-align: center;
    text-transform: lowercase;
    color: #fff;
    border-radius: 50%;
}

.product-badges span.onsale {
    background-color: #98d8ca;
    color: #fff;
}

.product-thumb .add-to-wishlist {
    position: absolute;
    z-index: 7;
    top: 15px;
    right: 15px;
    visibility: hidden;
    width: 48px;
    // width: 32px;
    // display: inline-block;
    height: 48px;
    -webkit-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    text-align: center;
    opacity: 0;
    color: #f8796c;
}

.product-thumb:hover .add-to-wishlist {
    opacity: 1;
    visibility: visible;
}

.product-info .title {
    font-family: Jost;
    font-size: 16.5px;
    font-weight: 500;
    margin-bottom: 12px;
}

.product-info .title a {
    color: #7e7e7e;
}

.product-info .price {
    color: #333;
}

.product-info .price span.new {
    color: #f8796c;
    margin-right: 12px;
}

.product-info .price span.old {
    color: #aaa;
    text-decoration: line-through;
}