
.Table{
    margin-top: 15rem;
    margin-left: 5rem;
   
  }
  .tableContainer{
    
    box-shadow: 0px 13px 20px 0px #80808029;
    

    
  }
  
  .Table td,
  th {
    border: none !important;
  
  }
  
  .Table:first-child {
    border-radius: 0.7rem !important;
  }
  .status {
    padding: 8px;
    border-radius: 9px;
  }
  .input{
    background-color: transparent;
    border:none; 
  }
  input:hover {
    background-color: #d3d3d3;
    cursor: pointer;
  }
  .Details {
    color: #00b5ff !important;
  }
  h3{
    margin-top: 20px;
  }