.Table {
  margin-top: 15rem;
  margin-left: 5rem;

}

.tableContainer {
  box-shadow: 0px 13px 20px 0px #80808029;
}

.Table td,
th {
  border: none !important;

}

.Table:first-child {
  border-radius: 0.7rem !important;
}

.status {
  padding: 8px;
  border-radius: 9px;
}

.input {
  background-color: transparent;
  border: none;
}

.Details {
  color: #00b5ff !important;
}

h3 {
  margin-top: 20px;
}

.mybtn {
  width: 150px;
  background-color: var(--sea_nymph) ;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;

}

.mybtn:hover {
  background-color: #5ed5bb;
}