.Cards {
  display: flex;
  gap: 2px;
  align-items: flex-start;
  
}

.parentContainer {
  width: 100%;
  margin-top: 2rem;
}

@media screen and (max-width: 1200px) {
  .Cards{
    flex-direction: column;
  }
  .parentContainer{
    height: 9rem;
  }
}

@media screen and (max-width: 768px)
{
  .Cards{
    width: 90%;
  }
}
