.add_product_container{
    /* box-shadow: 0px 1px 10px #0000004a; */
    margin: 5rem auto !important;
}

.textarea {
    resize: none;
    height: 150px;
}

.btn_clear {
    background-color: var(--bittersweet) !important;
}

.btn_clear:hover {
    background-color: #fd583e !important;
}