.mainColor{
    background-color: var(--dawn_pink)
    
}
.mybtn {
    width: 150px;
    background-color: var(--koromiko) ;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;

}
.mybtn:hover {
    background-color: #f8be32;
}
.btn2 {
    width: 150px;
    background-color: var(--red_ribbon) ;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;

}
.btn2:hover {
    background-color: var(--orange)
}
