.MuiTableRow-root > * {
  padding: 10px;
  
}

.MuiTableRow-root.MuiTableRow-head > * {
  font-weight: bold !important;
}

.Table {
  margin-top: 2rem;
}

.Table td,
th {
  border: none !important;
}

.Table:first-child {
  border-radius: 0.7rem !important;
}

.status {
  padding: 8px;
  border-radius: 9px;
}

.status:hover {
  background-color: #fe5416ad;
}