:root {
  --red_ribbon: #F31237;
  --orange: hsl(16, 97%, 56%);
  --fiord: #4A596D;
  --pale_sky: #6B7280;
  --sea_nymph: #72a499;
  --bg-back: #9ab0ab12;
  --bg-front: #8ca9a23d;
  --link-bg-color-hover: #6b728045;

  --bright_gray: #3b4149;
  --gray: #7e7e7e;
  --koromiko: #febd69;
  --bittersweet: #FF735C;
  --quicksand: #baa491;
  --ebony_clay: #232f3e;
  --dawn_pink: #f4ede7;
  --shark: #212529;


  /* fonts */
  --font-size-sm: 1rem;
  --font-size-lg: 1.4rem;
}

.btn {
  padding: .6rem 1.5rem;
  border-radius: 3rem;
  border: none;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px
}

body {
  font-family: 'Jost', Arial, Helvetica, sans-serif;
  margin: 0;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  color: var(--gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Marcellus, Arial, Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 0;
  color: #333;
}

.link {
  padding: 1rem
}

.active {
  font-weight: bold;
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--ebony_clay);
}

.input_control {
  width: 100%;
  padding: 8px 15px;
  color: #575756;
  background-color: transparent;
  font-size: 17px;
  /* line-height: 15px; */
  border-radius: 7px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  box-shadow: 1px 1px 0px #eee;
}

.input_control::placeholder {
  color: color(#575756 a(0.8));
  letter-spacing: 1.5px;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 30px;
}

.section {
  padding: 4rem 0 2rem;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon {
  font-size: 2rem;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

.btn a {
  font-weight: 500;
}

image,
video {
  width: 100%;
  height: auto;
}

/* MEDIA QUERIES */

@media screen and (min-width: 1024px) {
  .container {
    width: 80% !important;
    margin: auto !important;

  }

  .section {
    padding: 6rem 0 4rem;
  }
}

@media screen and (min-width: 1240px) {
  .container {
    width: 80% !important;
    margin: auto !important;

  }

  .section {
    padding: 6rem 0 4rem;
  }
}

@media screen and (min-width: 2560px) {
  body {
    zoom: 1.7;
  }
}
textarea{
  resize: none;
}